@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --green: #00BB47;
  --green-light: #00bb48c5;
  --beg: #f8f9fa;
  --be: "Be Vietnam Pro", sans-serif;
  --poppins: "Poppins", sans-serif;
}

@theme {
  --color-green: var(--green);
  --color-beg: var(--beg);
  --font-be: var(--be);
  --font-poppins: var(--poppins);
}


.link {
  transition: all .3s;
}

.link:hover {
  color: #016630;
}

.certbutton {
  transition: all .3s ease-in-out;
  border: 1px solid transparent;
}

.certbutton:hover {
  color: black;
  background: #ffffff8c;
  border: 1px solid white;
}

* {
  user-select: none;
}


.active {
  @apply text-green-800 font-bold
}

.p {
  @apply py-12 px-4 md:px-[120px]
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/BACK.jpg');
  background-size: cover;
  background-position: center;
}

.layer {
  transition: all .2s ease-in-out;
}

.layer:hover {
  background: var(--green-light);
}



.btn {
  @apply lg:w-32 w-28 py-2 border rounded-lg capitalize cursor-pointer transition-all duration-300
}

.activeTap {
  @apply font-semibold text-green bg-transparent border-green
}

.notActiveTap {
  @apply bg-green text-white border-transparent
}

.banner-bg {
  background: url('assets/aboutback.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  @apply lg:h-[350px] h-[520px]
}

.banner-bg div {
  transition: all .4s ease-in-out;
}

.banner-bg div:hover {
  background: var(--green);
}

.layerr {
  transition: all .3s ease-in-out;
  @apply flex items-center justify-center text-white lg:text-2xl text-center text-xl p-4
}

.layerr:hover {
  background: var(--green);
}



.loading01 span {
  animation: loading01 .8s infinite alternate;
}

.loading01 span:nth-child(1) {
  animation-delay: 0s;
}

.loading01 span:nth-child(2) {
  animation-delay: 0.1s;
}

.loading01 span:nth-child(3) {
  animation-delay: 0.2s;
}

.loading01 span:nth-child(4) {
  animation-delay: 0.3s;
}

.loading01 span:nth-child(5) {
  animation-delay: 0.4s;
}

.loading01 span:nth-child(6) {
  animation-delay: 0.5s;
}

.loading01 span:nth-child(7) {
  animation-delay: 0.6s;
}

.loading01 span:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes loading01 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}